{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'movies/css/movies.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid" id="movie_app">
    <div class="detail_content">
        <p>{{ movie.title }}</p>
        <p>{{ movie.grade }}</p>
        <img src="{{ movie.poster_url }}" alt="">
    </div>

</div>


{% endblock %}

{% block js %}
<script src="{% static 'movies/js/app.js' %}"></script>
{% endblock %}