{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'movies/css/movie_index.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid" id="app">

    {% for kind in kinds %}
        {% if forloop.counter0 == 0 %}
            <h4 class="recom-header text-center">장르선호도에 따른 추천</h4>
        {% elif forloop.counter0 == 1%}
            <h4 class="recom-header text-center">관심배우에 따른 추천</h4>
        {% endif %}
        <div id="indexcarousel{{ forloop.counter0 }}" class="carousel slide" data-ride="carousel">

                <!-- The slideshow -->
                <div class="carousel-inner">
                    {% for movies in kind %}
                        {% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                            <div class="row">
                                {% for movie in movies %}
                                    <div class="col col-sm-4 col-lg-2 citems">
                                        <a href="{% url 'movies:movie_detail' movie.id %}">
                                            <div class="card">
                                                    <img src="{{ movie.poster_url }}" alt="" class="card-img-top img-fluid">
                                                    <div class="card-body">
                                                        <div class="card-title">{{ movie.title }}</div>
                                                        <div class="card-text">{{ movie.grade }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#indexcarousel{{ forloop.counter0 }}" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#indexcarousel{{ forloop.counter0 }}" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                </a>

        </div>
    {% endfor %}


{% endblock %}


{% block js %}
    <script src="{% static 'movies/js/app.js' %}"></script>

{% endblock %}