{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'movies/css/movie_index.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid" id="app">
    <div id="demo" class="carousel slide" data-ride="carousel">


      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row" id="citem1">

            </div>
        </div>
        <div class="carousel-item">
            <div class="row" id="citem2">
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" id="citem3">

            </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>




</div>
{% endblock %}로그아웃


{% block js %}
    <script src="{% static 'movies/js/app.js' %}"></script>

    <script>
        const cItem1 = document.querySelector('#citem1');
        const cItem2 = document.querySelector('#citem2');
        const cItem3 = document.querySelector('#citem3');

        const car = async function() {
            const movie_res = await axios.get('http://127.0.0.1:8000/api/v1/genres/2/movies/');
            const res = movie_res.data;
            for (let i = 0; i < 6; i++) {
                cItem1.innerHTML += cardHtml(res[i].title, res[i].grade, res[i].poster_url);
            }
            for (let i = 6; i < 12; i++) {
                cItem2.innerHTML += cardHtml(res[i].title, res[i].grade, res[i].poster_url);
            }
            for (let i = 12; i < 18; i++) {
                cItem3.innerHTML += cardHtml(res[i].title, res[i].grade, res[i].poster_url);
            }

        }
        car()
    </script>

{% endblock %}