{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'movies/css/movies.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid" id="movie_app">
    {% for movie in movies %}
        {% if movie.grade != '청소년관람불가' %}

            <a href="{% url 'movies:movie_detail' movie.id %}"><p>{{ movie.title }}</p></a>
            <p class="grades">{{ movie.grade }}</p>

        {% endif %}
    {% endfor %}

</div>


{% endblock %}

{% block js %}
<script src="{% static 'movies/js/app.js' %}"></script>
{% endblock %}