{% extends 'base.html' %}
{% load static %}

{% block title %}
    OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'movies/css/root.css' %}">
{% endblock %}


{% block body %}
    <div class="container-fluid" id="app">
        <div class="root-container">
            <div class="root-cover">
                <h2>기호에 맞는 영화를 추천 받아보세요.</h2>
            </div>
            <div class="row root-box" id="root-order-1"></div>
        </div>
        <div class="root-container">
            <div class="root-cover">
                <h2>배우 혹은 감독과 당신의 온도를 측정해보세요!</h2>
            </div>
            <div class="row root-box" id="root-order-2"></div>
        </div>
        <div class="root-container">
            <div class="root-cover">
                <h2>comment2</h2>
            </div>
            <div class="row root-box" id="root-order-3"></div>
        </div>
        <div class="root-container">
            <div class="root-cover">
                <h2>comment3</h2>
            </div>
            <div class="row root-box" id="root-order-4"></div>
        </div>

    </div>



{% endblock %}

{% block js %}

{% endblock %}