{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}


{% block body %}
<link rel="stylesheet" href="{% static 'movies/css/movies.css' %}">

<!-- django messages start -->
{% if messages %}
<ul class="messages">
    {% for msg in messages %}       
    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
<!-- django messages end -->

<div class="container-fluid" id="movie_app">
    <div class="row">
        <div class="col">
            {% load bootstrap4 %}
            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-light" type="submit">{{ button_message }}</button>
                {% if button_message != '가입하기' %}
                    <a href="{% url 'accounts:signup' %}" class="btn btn-primary">회원가입가입</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'movies/js/app.js' %}"></script>
{% endblock %}