{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_pos.css' %}">
{% endblock %}


{% block body %}
    <div class="container" id="profile-app">
        <hr>
        <div class="row user-profile">
            <div class="col">
                <img src="{% static 'people/img/defaultUser.jpg' %}" alt="">
            </div>
            <div class="col profile-text">
                <p>{{ person.name }}</p>
                <p>{{ person.username }}</p>
                <p>email: {{ person.email }}</p>
            </div>
            <div class="col">
                {% if person != user and user.is_authenticated %}
                    <button class="btn btn-outline-light" @click="followToggle({{ person.id }})" v-show="loading">[[followMessage]]</button>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#" v-model="movies_check" @click="toggle1()">체크한 영화들</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" v-model="people_check" @click="toggle2()">관심영화인들</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" v-model="followings_check" @click="toggle3()">팔로우 하고 있는 유저들</a>
                  </li>
                </ul>
            </div>
        </div>

        <hr>

        <!-- 체크한 영화들 -->
        <div class="row" v-show="movies_check">
            {% for movie in movies %}
            <div class="col">
                <div class="card movie-card">
                    {% if movie.large_poster_url %}
                        <img src="{{ movie.large_poster_url }}" alt="" class="card-img-top img-fluid">
                    {% elif movie.poster_url %}
                        <img src="{{ movie.poster_url }}" alt="" class="card-img-top img-fluid">
                    {% else %}
                        <img src="{% static 'imgs/noimage.gif' %}" alt="" class="card-img-top img-fluid">
                    {% endif %}
                    <div class="card-body">
                        <div class="card-title movie-title">{{ movie.title }}</div>
                        <div class="card-text movie-text">{{ movie.grade }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- 관심영화인들 -->
        <div class="row" v-show="people_check">
            {% for person in people %}
            <div class="col">
                <div class="card people-card">
                    {% if person.portrait_url %}
                        <img src="{{ person.portrait_url }}" alt="" class="card-img-top img-fluid">
                    {% else %}
                        <img src="{% static 'people/img/defaultUser.jpg' %}" alt="" class="card-img-top img-fluid">
                    {% endif %}
                    <div class="card-body">
                        <div class="card-title people-title">{{ person.name }}</div>
                        <div class="card-text people-text">
                            {% for role in person.roles.all %}
                                <p>{{ role.type_name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- 팔로우하고 있는 유저들 -->
        <div class="row" v-show="followings_check">
            {% for following in followings %}
                <div class="col">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="card-title user-title">{{ following.name }}</div>
                            <div class="card-text user-text">{{ follwing.email }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        const profile_app = new Vue({
            delimiters: ['[[',']]'],
            el: '#profile-app',
            data:{
                movies_check:true,
                people_check:false,
                followings_check:false,
                follow_state:'',
                loading:false,
            },
            watch:{
                movies_check:function(val){
                    if(val){
                        this.people_check = false;
                        this.followings_check = false;
                    }
                },
                people_check:function(val){
                    if(val){
                        this.movies_check = false;
                        this.followings_check = false;
                    }
                },
                followings_check:function(val){
                    if(val){
                        this.movies_check = false;
                        this.people_check = false;
                    }
                },
            },
            methods:{
                toggle1:function(){
                    this.followings_check = false;
                    this.people_check = false;
                    this.movies_check = true;
                },
                toggle2:function(){
                    this.followings_check = false;
                    this.movies_check = false;
                    this.people_check = true;
                },
                toggle3:function(){
                    this.movies_check = false;
                    this.people_check = false;
                    this.followings_check = true;
                },
                followToggle: async function(user_id){
                    const res = await axios.get(location.origin+`/accounts/follow/${user_id}/`);
                    console.log('followToggle was activated');
                    if (res.status === 200){
                        if (res.data.follow_status){
                            this.follow_state = true;
                        }else{
                            this.follow_state = false;
                        }
                    }
                },
                checkFollow:async function(user_id){
                    const res = await axios.get(location.origin+`/accounts/followcheck/${user_id}/`);
                    if (res.status === 200){
                        if (res.data.follow_status){
                            this.follow_state = true;
                        }else{
                            this.follow_state = false;
                        }
                        this.loading = true;
                    }
                }
            },
            computed:{
                followMessage:function(){
                    if(this.follow_state){
                        return '팔로잉 중'
                    }else{
                        return '팔로우하기'
                    }
                }
            },
            beforeMount: function(){
                this.checkFollow({{person.id}});
            }
        })
    </script>
{% endblock %}