a {
    color:#efefef;
}

h3 {
    color:#efefef;
}

.filmo-name {
    color:#efefef;
    font-size:20px
}

hr {
    border-color:#efefef;
}

.temperature-text {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size:20px;
}
.temperature-text span {
    color:indianred;
}