{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'people/css/people.css' %}">
{% endblock %}


{% block body %}
    <hr>
<div class="container-fluid" id="people_app">

    <div class="row">
        <div class="col-6 col-md-3">
            {% if status == '스태프' %}
                <img src="{% static 'people/img/defaultUser.jpg' %}" alt="">
            {% else %}
                {% if person.portrait_url %}
                    <img src="{{ person.portrait_url }}" alt="">
                {% else %}
                    <img src="{% static 'people/img/defaultUser.jpg' %}" alt="">
                {% endif %}
            {% endif %}
        </div>
        <div class="col-3">
            <h3>{{ person.name }}</h3>
            <h3>{{ status }}</h3>
        </div>
        <div class="col-3">
            {% if user.is_authenticated %}
                <button class="btn btn-outline-light" @click="loveToggle({{ person.id }})" v-show="loading">${fanMessage}</button>
            {% endif %}
            {% if person in user.loving_people.all %}
                <h3 class="temperature-text">현재 영화인과 당신의 온도: <span>{{ temp.temp }}</span></h3>
            {% endif %}
        </div>
    </div>
    <hr>
    <h3>Filmography</h3>
    <ul>
    {% for film in filmo %}
        <li class="filmo-name">{{ film }}</li>
    {% endfor %}
    </ul>
    <hr>

    <!-- 온도확인 란 만들기 -->

    <!-- 배우가 참여한 영화들 -->


</div>


{% endblock %}

{% block js %}
    <script>
        // cookies function
        const getCookie = function(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        const people_app = new Vue({
            delimiters: ['${','}'],
            el:'#people_app',
            data:{
                loading:false,
                fanMessage:'',
            },
            methods:{
                loveToggle: async function(people_id){
                    const url = location.origin+ `/people/fan/${people_id}/`;
                    const res = await axios.get(url);
                    if (res.status === 200){
                        if (res.data.fan){
                            this.fanMessage = "팬";
                        }else {
                            this.fanMessage = '팬 되기';
                        }
                    }
                },
                LoveCheck: async function(people_id){
                    const url = location.origin+ `/people/fancheck/${people_id}/`;
                    const res = await axios.get(url);
                    if(res.status === 200){
                        if (res.data.fan){
                            this.fanMessage = "팬";
                        }else {
                            this.fanMessage = '팬 되기';
                        }
                        this.loading = true;
                    }
                },
            },
            beforeMount:function(){
                this.LoveCheck({{ person.id }});
            },
            created: async function(){

                const url = location.origin + `/api/v1/temperature/people/{{ person.id }}/`;
                    let csrftoken = getCookie('csrftoken');
                    // const headers = new Headers();
                    // headers.append('X-CSRFToken', csrftoken);
                    const res = await fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        credentials:'same-origin',
                        body:'',
                    });

                    console.log(res.status);
            }
        })



    </script>
{% endblock %}