{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'people/css/people.css' %}">
{% endblock %}


{% block body %}
<div class="container-fluid" id="people_app">
    <h3>Director</h3>
    {% for director in directors %}
        <a href="#">{{ director.name }}</a>
    {% endfor %}

    <h3>Actors</h3>
    {% for actor in actors %}
        <a href="#">{{ actor.name }}</a>
    {% endfor %}

    <h3>Staff</h3>
    {% for staf in staff %}
        <a href="#">{{ staf.name }}</a>
    {% endfor %}


</div>


{% endblock %}

{% block js %}
    <script src="{% static 'movies/js/app.js' %}"></script>
    <script src="{% static 'people/js/people.js' %}"></script>
{% endblock %}