{% extends 'base.html' %}
{% load static %}

{% block title %}
OurWatCha Movies
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'people/css/people.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_pos.css' %}">
{% endblock %}


{% block body %}
<div class="container-fluid" id="people_app">
    <h3>People</h3>
    {% for person in people %}
        <a href="#">{{ person.name }}</a>
    {% endfor %}


</div>


{% endblock %}

{% block js %}
    <script src="{% static 'movies/js/app.js' %}"></script>
    <script src="{% static 'people/js/people.js' %}"></script>
{% endblock %}