.recom-header {
    color:#dfdfdf;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size:30px;
    margin-top:5rem;
}


.carousel {
    margin:2rem;
    padding:2rem;
}

.carousel-item .col img{
    height:23vh;
}

.carousel-item .col .card-title{
    font-weight:bold;
    font-size:13px;
}

.carousel-item .col .card-text{
    font-size:10px;
}

.citems a{
    text-decoration:none;
}

.card {
    height:35vh;
}

.carousel-control-prev {
    position:absolute;
    left:-4rem;
    width:100px;
}

.carousel-control-next {
    position:absolute;
    right:-4rem;
    width:100px;
}

@media(max-width:900px){
    .carousel-item .col .card-title,
    .carousel-item .col .card-text
    {
        display:none
    }
    .carousel-item .col .card{
        height:18vh;
    }
    .carousel-item .col img{
        height:100%;
    }
}