<nav class="navbar navbar-expand-sm" id="navbar">
    <!-- Brand logo -->
    {% if user.is_authenticated %}
        <a href="{% url 'movies:index' %}" class="navbar-brand logo">OURWATCHA</a>
    {% else %}
        <a href="" class="navbar-brand logo">OURWATCHA</a>
    {% endif %}
    <!-- Links -->
    <ul class="navbar-nav ml-auto mb-2">
        {% if user.is_authenticated %}
            <li class="nav-item">
                정보1
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:logout' %}">로그아웃</a>
            </li>
        {% else %}
            <li class="nav-item">
                <button class="btn nav-content" data-toggle="modal" data-target="#navModal">로그인</button>
            </li>
            <!-- login, singup modal -->
            <div class="modal" id="navModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- modal header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                        <!-- modal body -->
                        <div class="modal-body">
                            {% load bootstrap4 %}
                            <form action="{% url 'accounts:login' %}" method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary">로그인하기</button>
                            </form>
                        </div>
                        <!-- modal footer -->
                        <div class="modal-footer">
                            <a href="{% url 'accounts:signup' %}">
                                <button type="button" class="btn">회원가입하기</button>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}



    </ul>
</nav>